<!doctype html>
<html lang="en">

<head>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </style>
</head>

<body ng-app="LunchCheck">
  <div class="container" ng-controller="LunchCheckController">
    <h1>Lunch Checker</h1>

    <div class="form-group">
      <input type="text" placeholder="list comma separated dishes you usually have for lunch" ng-model="lunchInput">
    </div>
    <div class="form-group">
      <button ng-click="checkLunch()">Check If Too Much</button>
    </div>
    <div>
      {{outputCheck}}
    </div>
  </div>

</body>

</html>